@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(20% 0.08 290);
	--foreground: oklch(85% 0.12 300);
	--card: oklch(25% 0.06 290);
	--card-foreground: oklch(95% 0.05 300);
	--popover: var(--primary);
	--popover-foreground: oklch(95% 0.05 300);
	--primary: oklch(35% 0.15 285);
	--primary-foreground: var(--accent);
	--secondary: var(--primary);
	--secondary-foreground: var(--foreground);
	--muted: oklch(30% 0.08 290);
	--muted-foreground: oklch(70% 0.1 295 / 75%);
	--accent: oklch(70% 0.2 310);
	--accent-foreground: oklch(100% 0 0 / 90%);
	--destructive: oklch(72.14% 0.1616 15.49);
	--border: var(--primary);
	--input: var(--primary);
	--ring: oklch(75% 0.18 295);
	--chart-1: oklch(60% 0.25 280);
	--chart-2: oklch(65% 0.2 295);
	--chart-3: oklch(70% 0.22 305);
	--chart-4: oklch(60% 0.28 290);
	--chart-5: oklch(65% 0.25 285);
	--sidebar: oklch(25% 0.06 290);
	--sidebar-foreground: oklch(95% 0.05 300);
	--sidebar-primary: oklch(60% 0.25 280);
	--sidebar-primary-foreground: oklch(95% 0.05 300);
	--sidebar-accent: oklch(30% 0.08 290);
	--sidebar-accent-foreground: oklch(95% 0.05 300);
	--sidebar-border: oklch(100% 0 0 / 10%);
	--sidebar-ring: oklch(70% 0.15 295);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--animate-hop: hop 0.8s ease-in-out infinite;

	@keyframes hop {
		0%,
		100% {
			transform: none;
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		50% {
			transform: translateY(-8px);
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	html,
	body {
		height: 100%;
	}
	body {
		@apply bg-background text-foreground;
		scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Firefox */
		scrollbar-width: thin;
	}
}
